/* logo styling */

#header h1 {
    /*margin: 10px 25px;*/
    font-weight: bold;
    height: 41px;
    font-size: 26px;
    color: #ffffff;
    span {
      background: url(../images/usp_main_logo.gif) left top no-repeat;
      min-width: 117px;
      width: 117px;
      height: 41px;
      position: absolute;
    }
  }
  
  div {
    &#btlogo, &#btlogo40 {
      width: 117px;
      height: 42px;
      padding: 0;
      border: #000000 0px solid;
      background-image: url('../images/usp_main_logo.gif');
    }
    &#rotator {
      width: 239px;
      height: 145px;
      padding: 0;
      border: #000000 0px solid;
      background: url(../images/random.gif);
    }
    &#logolay {
      width: 233px;
      height: 145px;
      padding: 0px;
      border: #000000 0px solid;
      background-image: url('../images/usp_logo.gif');
    }
    &#logoside {
      width: 33px;
      height: 145px;
      padding: 0px;
      border: #000000 0px solid;
      background-image: url('../images/usp_logo_side.gif');
    }
    &#logoslogan {
      width: 295px;
      height: 145px;
      padding: 0px;
      border: #000000 0px solid;
      background-image: url('../images/future_slogan1.gif');
    }
  }
  
  /* random images rotator */
  
  /* USP Logo Images */